[data-aos=fade-down] {
  transform: translate3d(0,-20px,0);
}
[data-aos=fade-up] {  
  transform: translate3d(0, 20px, 0);
}
[data-aos=fade-left] {
  transform: translate3d(20px,0,0);
}
[data-aos=fade-right] {
  transform: translate3d(-20px,0,0);
}
[data-aos-easing=custom-cubic-bezier]{
  transition-timing-function:cubic-bezier(0.5, 0, 0, 1);
}