html {
  box-sizing: border-box; 
  height: 100%;   
  background-color: $app-bg;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {  
  height: 100%;   
  font-size: $global-font-size;
  line-height: $global-line-height;
  font-family: $global-font-family;  
  color: $global-text-color;   
}
label {
  cursor: pointer;
}
img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}
